/* General Section Styling */
section {
    height: 90vh;
    width: 100%;
    padding: 0px 100px;
}

.hero-section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

/* Content Layout */
.content-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.dual-main__content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.dual-main__content .dual-main__container {
    height: 100%;
    width: 100%;
    flex-grow: 0;
}

/* Hero Tagline */
.hero-tagline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
}

.hero-tagline .tagline-title {
    font-size: var(--herosize-font);
    font-weight: 700;
    color: var(--primary-color);
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.54px 0.84px 0px, 
                 rgb(0, 0, 0) -0.41px 0.91px 0px, rgb(0, 0, 0) -0.99px 0.14px 0px,
                 rgb(0, 0, 0) -0.65px -0.75px 0px, rgb(0, 0, 0) 0.28px -0.96px 0px, 
                 rgb(0, 0, 0) 0.96px -0.28px 0px;
}

.hero-tagline .tagline-body {
    font-size: var(--large-font);
    color: var(--fifth-color);
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.54px 0.84px 0px, 
                 rgb(0, 0, 0) -0.41px 0.91px 0px, rgb(0, 0, 0) -0.99px 0.14px 0px,
                 rgb(0, 0, 0) -0.65px -0.75px 0px, rgb(0, 0, 0) 0.28px -0.96px 0px, 
                 rgb(0, 0, 0) 0.96px -0.28px 0px;
}

/* Centering Images */
.center-img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-images {
    position: absolute;
    height: 90%;
    width: 90%;
    background-image: url('../../../assets/heroimage.png');
    background-size: cover;      /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat; /* Prevents tiling of the background */
    display: flex;               /* Ensure inner elements align properly */
    justify-content: center;     /* Centers content horizontally */
    align-items: flex-end;       /* Aligns content to the bottom */
    gap: 15px;
    z-index: -1;
    right: 0;
}

/* Carousel Shop Styling */
.carousel-shop {
    background-color: white;
}

.shop-container {
    height: 80%;
    max-height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: scroll;
}

.shop-container .product-tile {
    border: 1px solid black;
    border-radius: 20px;
    height: 270px;
    width: 270px;
}

/* Alternating Tile Colors */
.product-tile:nth-child(odd) {
    background-color: var(--primary-color);
}

.product-tile:nth-child(even) {
    background-color: var(--fourth-color);
}
