.modal-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2000; 

    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
}

.modal-container {
    display: block;
    background: white;
    padding: 50px;
    border-radius: 3px;
    font-weight: 300;

    width: 1000px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
    animation: drop 0.8s forwards; 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.crud-form {
    width: 50%;
}

.modal-container .main-area {
    width: 100%;
    display: flex;
    min-height: 350px;
    /* border:1px solid red; */
    gap:50px;
}

.modal-container h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}

.modal-container p {
    font-size: 18px;
    line-height: 22px;
}

.content {
    min-height: 100%;
    height: 100%;
    background: white;
    position: relative;
    z-index: 0;
}

.content h1 {
    padding: 75px 0 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}

.content .buttons {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.input-group {
    margin: 13px 0px;
}

.MuiFormControl-root {
    width: 100%;
    
}

.content .buttons .button {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    margin: 10px;
    background: red; 
    background-color: #efefef;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.content .buttons .button:hover {
    color: white;
    background: #009bd5;
}

.modal-exit {
    opacity: 1;
    transform: translateY(0);
}

.modal-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
}


@keyframes drop {
    0% {
        height: 550px;
        transform: translateY(-500px); 
    }
    50% {
        min-height: 300px;
        transform: translateY(10px); 
    } 
    100% {
        height: 550px;
    }
}


@keyframes drop2 {
    0% {
        height: 600px;
        transform: translateY(-500px); 
    }
    50% {
        min-height: 300px;
        transform: translateY(10px); 
    } 
    100% {
        height: 600px;
    }
}

.modal-exit {
    opacity: 1;
    transform: translateY(0);
}

.modal-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
}

.modal-container-portrait {
    height: 600px;
    width: 520px;
    background-color: white;
    animation: drop2 .8s ease ;
    padding: 20px;
}

.display-modal__img-container {
    width: 100%;
    height: 300px;
    /* border:1px solid red; */
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%; /* Adjust as needed */
    margin: auto;
}

.carousel-container {
    width: 50%;
    /* border: 1px solid red; */
    max-height: 350px;
}

.carousel-img__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-img__container .img-container{
    height: 300px;
    width: 300px;
    /* border: 1px solid red; */
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px; 
   
}

.carousel-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover; 
    border-radius: 10px; 
}

.carousel-button {
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100; 
}

.carousel-button:first-of-type {
    left: 10px;
}

.carousel-button:last-of-type {
    right: 10px;
}

.display-modal__img-container {
    width: 100%;
    max-width: 600px;
    height: 400px; 
    overflow: hidden; 
    position: relative; 
    margin: auto;
}

.custom-carousel {
    height: 100%; 
}

.custom-carousel img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

.modal-container-portrait .detail-container {
    margin: 10px 0px;
    
}

.modal-container__inventory {
    height: 600px;
    width: 1200px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}