.client-header {
    width: 100%;
    z-index: 1000;
    height: 75px;

    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
    background-color: white;
    /* border-bottom: 1px solid black; */
}

.not-scrolled {
    position: relative;
    top:0;
    left:0;
}

.scrolled {
    position: sticky;
    top: 0;
    left: 0;
    animation: slowDrop .5s;
}

@keyframes slowDrop {
    0% {
        transform: translateY(-75px);
    }       
    100% {
        transform: translateY(0px);
    }
}

.client-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.title-container {
    width: 150px;
    height: 70px;
}

.title-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.navigation-line {
    display: flex;
    gap: 30px
}

.navigation-line a {
    font-size: 18px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}

.navigation-line a {
	/* color: #18272F; */
  position: relative;
  /* text-decoration: none; */
}

.navigation-line a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--primary-color);
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navigation-line a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.custom-badge {
    all:unset;
    text-decoration: none;
    text-shadow: none;
    color:white;
    background-color: var(--primary-color);
    font-size: 11px;
    padding:3px 6px;
    border-radius: 50%;
    position: absolute;
    margin-top: -10px;
    margin-left: 62px;
}

.icon-link {
    font-size: 18px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.login-dropdown a {
    color:black;
    text-decoration: none;
}

.utility-bar {
    width: 100%;
    background-color: var(--primary-color);
    color:white;
    display: flex;
    justify-content: space-between;
    padding: 2px 110px;
}

.utility-div {
    display: flex;
    color: white;
    text-decoration: none;
    gap:5px;
}

.utility-div a, .utility-bar__text {
    color: white;
    text-decoration: none;
    font-size: var(--small-font);
}